[submodule "external/croncpp"]
	path = external/croncpp
	url = https://github.com/mariusbancila/croncpp.git
[submodule "external/angelscript-aatc"]
	path = external/angelscript-aatc
	url = https://github.com/inniyah/angelscript-aatc.git
