.build
.vscode
trash
*.log
z_expose.json
z_status.json
homed-angel.json

external/angelscript/**

!external/angelscript/sdk/add_on/scriptstdstring
!external/angelscript/sdk/add_on/scriptstdstring/**/*
!external/angelscript/sdk/add_on/scriptarray
!external/angelscript/sdk/add_on/scriptarray/**/*
!external/angelscript/sdk/add_on/scriptbuilder
!external/angelscript/sdk/add_on/scriptbuilder/**/*
!external/angelscript/sdk/tests/test_feature/source/stdvector.h

src/version.h
scripts/includes/personal.as
